# https://docs.docker.com/engine/reference/builder/#dockerignore-file
#
#  -> NEEDS TO BE at the same directory as the build-context
#
#
# -> CAREFUL!! This runs first before build and it is easy to forget that
#              some of the sources in COPY might be invalid in Dockerfile!

*
# Ignore all except ...
!foo-package/
!**/docker
!**/requirements
!**/src
!**/*.py
!**/Makefile